<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- About Start -->
<div class="container-xxl py-5" th:fragment="about">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="about-img position-relative overflow-hidden p-5 pe-0">
          <img class="img-fluid w-100" src="/img/about.jpg">
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="display-5 mb-4">Best Organic Fruits And Vegetables</h1>
        <p class="mb-4">Organic fruits and vegetables are the healthiest option for those who want to lead a healthy lifestyle. These products are grown without the use of harmful pesticides and chemicals, making them safer for consumption. Additionally, they contain higher levels of essential nutrients and vitamins compared to conventionally grown produce.</p>
        <p><i class="fa fa-check text-primary me-3"></i>At our store, we offer a wide selection of the freshest and best organic fruits and vegetables. Whether you're looking for juicy, sweet apples or crisp, leafy greens, we have it all. </p>
        <p><i class="fa fa-check text-primary me-3"></i>Our produce is sourced from local farms and suppliers, ensuring that you get the highest quality products.</p>
        <p><i class="fa fa-check text-primary me-3"></i>So why wait? Start incorporating more organic fruits and vegetables into your diet today and see the difference it makes! Your taste buds and your body will thank you</p>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
</body>
</html>