<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Feature Start -->
<div class="container-fluid bg-light bg-icon py-6"  th:fragment="feature">
  <div class="container">
    <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <h1 class="display-5 mb-3">Our Features</h1>
      <p>We are the best in this specific region</p>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="bg-white text-center h-100 p-4 p-xl-5">
          <img class="img-fluid mb-4" src="/img/icon-1.png" alt="">
          <h4 class="mb-3">Natural Process</h4>
          <p class="mb-4">Discover the benefits of our eco-friendly natural processes that help maintain the quality and integrity of our products.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="bg-white text-center h-100 p-4 p-xl-5">
          <img class="img-fluid mb-4" src="/img/icon-2.png" alt="">
          <h4 class="mb-3">Organic Products</h4>
          <p class="mb-4">Explore our range of organic products that are carefully crafted, keeping your health and well-being in mind.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="bg-white text-center h-100 p-4 p-xl-5">
          <img class="img-fluid mb-4" src="/img/icon-3.png" alt="">
          <h4 class="mb-3">Biologically Safe</h4>
          <p class="mb-4">TExperience our biologically safe products, designed to protect you and your loved ones without harming the environment.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature End -->
</body>
</html>