<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List of Category</title>
    <div th:replace="~{/commons/commons :: head}"></div>
</head>

<body>
<div th:replace="~{/commons/commons :: navbar}"></div>
<div th:replace="~{/commons/page-header :: page-header(headerText='List of Category')}"></div>

<!-- Category List Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">List of Category</h1>
            <h3 th:if="${message != null}" th:text="${message}" class="text-center"></h3>
        </div>
        <a class="btn btn-primary rounded-pill py-3 px-5 mb-5" th:href="@{/category/edit}">Create new Category</a>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entity : ${list}">
                    <td th:text=${entity.name}></td>
                    <td>
                        <a class="btn btn-secondary rounded-pill py-2 px-4" th:href="@{/category/edit/{id}(id=${entity.id})}">Edit</a>
                        <form class="d-inline" th:if="${entity.id!=null}" method="get" th:action="'/category/' +${entity.id}+'/delete'">
                            <input class="btn btn-danger rounded-pill py-2 px-4" type="submit" value="Delete" onclick="return confirm('Are you sure?')">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Category List End -->

<div th:replace="~{/commons/commons :: footer}"></div>
</body>

</html>
