<!DOCTYPE html>
<html lang="en">

<head>
    <title>Products</title>
    <div th:replace="~{/commons/commons :: head}"></div>
</head>

<body>
    <div th:replace="~{/commons/commons :: navbar}"></div>
    <div th:replace="~{/commons/page-header :: page-header(headerText='Product')}"></div>

    <!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3">Our Products</h1>
                        <p>At our store, we are proud to offer a wide range of high-quality products that cater to a variety of needs and preferences. Our selection includes fresh produce, dairy products, pantry staples, and more</p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/product/search" method="get" class="my-4">
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Search by product name">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div th:if="${list.isEmpty()}" class="col-12 text-center py-4">
                            <h4 class="display-5">Here is no product yet</h4>
                        </div>
                        <div th:each="product, iterStat : ${list}" class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp"
                             th:data-wow-delay="${iterStat.index % 4 * 0.2}+'s'">
                        <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden">
                                    <img class="img-fluid w-100" th:src="${product.image}" th:alt="${product.name}" />
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2" th:href="@{'/product/' + ${product.id}}" th:text="${product.name}"></a>
                                    <span class="text-primary me-1" th:text="${'$' + product.price}"></span>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                        <a class="text-body" th:href="@{'/product/' + ${product.id}}"><i class="fa fa-eye text-primary me-2"></i>View detail</a>
                                    </small>
                                    <small class="w-50 text-center py-2"  th:if="${#request.userPrincipal != null}" >
                                        <a class="text-body" th:href="'/order/addProduct/'+${product.id}"><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Product End -->


    <div th:replace="~{/commons/visit-firm :: visit-firm}"></div>

    <div th:replace="~{/commons/testimonial :: testimonial}"></div>

    <div th:replace="~{/commons/commons :: footer}"></div>

</body>

</html>