<!DOCTYPE html>
<html lang="en">

<head>
    <title>Testiomonial</title>
    <div th:replace="~{/commons/commons :: head}"></div>
</head>

<body>
<div th:replace="~{/commons/commons :: navbar}"></div>


    <!-- Page Header Start -->
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown">Testimonial</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Testimonial</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <div th:replace="~{/commons/testimonial :: testimonial}"></div>

    <div th:replace="~{/commons/commons :: footer}"></div>

</body>

</html>