<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Profile</title>
    <div th:replace="~{/commons/commons :: head}"></div>
</head>

<body>

<div th:replace="~{/commons/commons :: navbar}"></div>
<div th:replace="~{/commons/page-header :: page-header(headerText='User Profile')}"></div>

<!-- User Profile Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img th:src="${user.image}" class="card-img-top" alt="User Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${user.firstname + ' ' + user.lastname}">Full Name</h5>
                        <p class="card-text">
                            <strong>Email: </strong><span th:text="${user.email}">Email</span><br>
                            <strong>Address: </strong><span th:text="${user.address}">Address</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h3>Orders</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Items</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${user.orders}">
                        <td th:text="${order.id}">Order ID</td>
                        <td th:text="${order.status}">Status</td>
                        <td th:text="${order.created}">Created</td>
                        <td th:text="${order.updated}">Updated</td>
                        <td>
                            <ul>
                                <li th:each="item : ${order.orderitems}">
                                    <span th:text="${item.count} + ' x ' + item.product.name"></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- User Profile End -->

<div th:replace="~{/commons/commons :: footer}"></div>

</body>

</html>
